.bobsBg {
    background-color:#ffd322 !important;
}

.yeojin1 {
    font-style: white !important;
    size:
}
@media (min-width: 768px) {
    section {
      padding: 150px 0;
    }
  }
  
  .btn {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
  }
  
  .btn-xl {
    font-size: 18px;
    padding: 20px 40px;
  }
  
  .btn-primary {
    background-color: #990033;
    border-color: #990033;
  }
  
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #660022 !important;
    border-color: #660022;
  }
  
  .btn-primary:active, .btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  }
  
  ::-moz-selection {
    background: #990033;
    text-shadow: none;
  }
  
  ::selection {
    background: #ecb807;
    text-shadow: none;
  }
  
  img::-moz-selection {
    background: transparent;
  }
  
  img::selection {
    background: transparent;
  }
  
  img::-moz-selection {
    background: transparent;
  }
  
  #mainNav {
    background-color: #212529;
  }
  
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #990033;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  #mainNav .navbar-brand {
    color: #990033;
    font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fffff;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: #ecb807;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #ffffff;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 1px;
      padding-bottom: 1px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: #990033;
      align-content : right;
    }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
      padding: 12px 0;
    }
  }
  
  @media (min-width: 767px) {
    #portfolio .portfolio-item {
      margin: 0 0 30px;
    }
  }
  
  .portfolio-modal {
    padding-right: 0px !important;
  }
  
  .portfolio-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
  }
  
  .portfolio-modal .modal-content {
    padding: 100px 0;
    text-align: center;
  }
  
  .portfolio-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .portfolio-modal .modal-content p {
    margin-bottom: 30px;
    text-align: left;
  }
  
  .portfolio-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  .portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  .portfolio-modal .modal-content img {
    margin-bottom: 30px;
  }
  
  .portfolio-modal .modal-content button {
    cursor: pointer;
  }
  
  .portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
  }
  
  .portfolio-modal .close-modal:hover {
    opacity: 0.3;
  }
  
  .portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1200;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #212529;
  }
  
  .portfolio-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1300;
    width: 1px;
    height: 75px;
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #212529;
  }

  #what h1 {
    text-align: left;
    margin-left: 20px;
    }
  
    h2 {
    font-size: 2.5em;
    }
    
  }

  @media (max-width: 400px)
  * {
      margin: 0;
      padding: 0;
  }
  #what {
    position: relative;
    background-color: #F9FCFE;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: inline;
    width: 100%;
    padding-top: 180px;
    padding-bottom: 200px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    overflow-y: scroll;
  }
  
  .grid {
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  
  .content {
    max-width: 1000px;
  }
  #photos {
    opacity: .88;
  }
  
  #photos img {
    width: 32%;
    float: left;
    display: block;
    margin: 2px;
  }
  
  ul {
    list-style: none;
    margin: 0px auto;
    padding: 10px;
    display: block;
    max-width: 900px;
    text-align: center;
  }
  
  #overlay {
    background: rgba(0,0,0, .8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
  }
  
  #overlay img {
    margin: 10% auto 0;
    width: 550px;
    border-radius: 5px;
  }
  
  #photos {
    width: 100%;
    justify-content: center;
  }
  
  #photo-gallery {
    width: 100%;
  }


table td {
	border-collapse: collapse;
	vertical-align:middle;
	font-size: 14px;
	color: #000;
	text-align: left;
}
table td[class="column"] {
    height:100px;
    width:200px;
}
table {
	border-collapse: collapse;
	mso-table-lspace: 0pt;
	mso-table-rspace: 0pt;
}

table[class="body_table"] {
	width: 800px;
}


table[class="home_table"] {
	width: 1200px;
}

.service-icon:hover, .service-icon:focus, .service-icon:active {
  background-color: #990033 !important;
  border-color: #990033 !important;
  shadow:0%;
}

.navbar-nav {
 margin-right:0px;
}

